@page "/About"
<h3>About</h3>

<h1>Exercise 3 - Feb 2024</h1>
<h2><strong>Author:</strong> Manuel Alva</h2>
<h2><strong>Section:</strong> OE01</h2>
<h2><strong>Instructor:</strong> Nathan Humphrey</h2>
<h2><strong>Known Bugs:</strong> None at the moment</h2>


@code {

}
