@page "/"

<title></title>

<PageTitle>Reno Tracker</PageTitle>

<h1>Reno Tracker</h1>


<div style="max-width:600px; margin:auto;">
    <img src="/RenoLogo.png" alt="Reno Logo" class="img-fluid w-100" />
</div>

<div class="">
    Welcome to Reno-Tracker, your ultimate companion in managing and monitoring construction projects with ease!<br />
    Whether you're a seasoned contractor or a DIY enthusiast, Reno-Tracker is designed to streamline your renovation journey.<br />
    Our user-friendly web app empowers you to effortlessly organize, track, and collaborate on every aspect of your construction projects.<br />
    From project timelines and budgeting to materials inventory and team communication, Reno-Tracker is your all-in-one solution for ensuring a smooth and successful renovation experience.<br /> 
    Embrace efficiency, stay on schedule, and achieve your dream home transformations with Reno-Tracker – where construction management meets simplicity.<br /> 
    Start your next project with confidence and precision, and let Reno-Tracker be your trusted partner in building the spaces you've always envisioned.
</div>
