@page "/RenoReport"
<h3>RenoReport</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Plan Id</th>
            <th>Width (cm)</th>
            <th>Height (cm)</th>
            <th>Area (m2)</th>
            <th>Opening</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i <= 5; i++)
        {
            <tr>
                <th>Placeholder</th>
                <th>Placeholder</th>
                <th>Placeholder</th>
                <th>Placeholder</th>
                <th>Placeholder</th>
            </tr>
        }

    </tbody>
</table>

@code {

}
